.main-header{
  color:white;
  width: 100%;
  position: fixed;        
  background-color:black;
  padding: 10px 0;
  top: 0;
}

.main-footer {
  color:white;
  width: 100%;
  position: fixed;        
  background-color:black;
  padding: 10px 0;
  bottom: 0;
}

.main-nav a{
  padding: 7px 25px;
  display: inline-block;
}

.container{
  width: 50%;
  margin: 0 auto;
}

.city-image{
  width: 100%;
}

.font{
  font-family: Arial, Helvetica, sans-serif;
}